# Data preprocessing

## Importing required libraries and reading the input json files:

In [4]:
import os, datetime, json
import pandas as pd

In [13]:
transcript = pd.read_json('../data/transcript.json', orient='records', lines=True)
portfolio = pd.read_json('../data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('../data/profile.json', orient='records', lines=True)

## Data cleansing operations

### Cleaning profile.json

In [14]:
profile.dropna(axis=0,inplace=True)
profile.rename(columns={'id': 'cust_id'}, inplace=True)
profile.head()

   gender  age                           cust_id  became_member_on    income
1       F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
3       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
5       M   68  e2127556f4f64592b11af22de27a7932          20180426   70000.0
8       M   65  389bc3fa690240e798340f5a15918d5c          20180209   53000.0
12      M   58  2eeac8d8feae4a8cad5a6af0499a211d          20171111   51000.0

### Cleaning portfolio.json

In [15]:
portfolio.rename(columns={'id': 'offer_id'}, inplace=True)
portfolio

,reward,channels,difficulty,duration,offer_type,offer_id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

### Cleaning and grouping transcript.json based on cust_id, event

In [16]:
transcript.rename(columns={'person': 'cust_id'}, inplace=True)
transcript.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cust_id  306534 non-null  object
 1   event    306534 non-null  object
 2   value    306534 non-null  object
 3   time     306534 non-null  int64
dtypes: int64(1), object(3)
memory usage: 9.4+ MB

In [17]:
transcript['event'].value_counts()

transaction        138953
offer received      76277
offer viewed        57725
offer completed     33579
Name: event, dtype: int64

In [33]:
transcript_event_grp = transcript.groupby(['cust_id','event'])
transcript_event_grp['event'].value_counts()

cust_id                           event            event
0009655768c64bdeb2e877511632db8f  offer completed  offer completed     3
                                  offer received   offer received      5
                                  offer viewed     offer viewed        4
                                  transaction      transaction         8
00116118485d4dfda04fdbaba9a87b5c  offer received   offer received      2
                                                                      ..
fffad4f4828548d1b5583907f2e9906b  transaction      transaction        12
ffff82501cea40309d5fdd7edcca4a07  offer completed  offer completed     6
                                  offer received   offer received      6
                                  offer viewed     offer viewed        6
                                  transaction      transaction        15
Name: event, Length: 63180, dtype: int64